* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

$colors: (
    primary: #03FCD7,
    accent: #387A66,
    light-accent: rgb(47, 231, 255),
    text-shadow: #52605C
);

@function colors($color-name) {
    @return map-get($colors, $color-name)
}


body {
    height: 100%;
    
    #bg {
        background-color: colors(primary);
        clip-path: polygon(100% 17%, 100% 66%, 0 88%, 0 39%);
        width: 100%;
        height: auto;
        min-height: 100%;
        position: absolute;
        z-index: -1;
        opacity: .8;
    }

    img {
        display: block;
        margin: 2em auto;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,.2);
    }

    h1.title {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 4px;
        text-align: center;
    }

    .col {
        margin: 0!important;

    }
    
    div.burgers{
        ul {
            list-style: none;

            button.changeState{
                    background-color: colors(text-shadow);
                    padding: 0.25em 0.5em;
                    color: colors(light-accent);
                    text-transform: uppercase;
                    font-weight: 700;

                    &:hover {
                        opacity: 0.8;
                    }
            }
        }
    }
    div#user-input {
        h3{
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 600;
        }
        form {
            button#burger-submit{
                background-color: colors(text-shadow);
                padding: 1em 2em;
                color: colors(light-accent);
                text-transform: uppercase;
                font-weight: 700;

                &:hover {
                    opacity: 0.8;
                }
            }

        }
    }

}